* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 32px;
  display: flex;
  flex-direction: row;
}

#headerDiv2 {
  font-size: large;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.scrollMenu {
  display: flex;
  overflow: auto;
}

.timeElement {
  padding: 12px;
  margin: 10px;
}

#forecast {
  display: flex;
  flex-direction: column;
}
